---
---

@import "{{ site.theme }}";

#menu {
  width: 100%;
  height: 25px;
  background-color:rgba(221, 152, 92, 1.0);
  clear: both;
}

ul#nav {
  /*float: left;
  width: 960px;*/
  margin: 0;
  padding: 0;
  /*list-style: none;*/
  text-align: center;
  
}

ul#nav li {
  display: inline;
}

ul#nav li a {
  float: left;
  font: bold 1.1em arial,verdana,tahoma,sans-serif;
  line-height: 25 px;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000000;
  background-color:rgba(221, 152, 92, 1.0);
  margin: 0;
  padding: 0 30px;
}

/* APPLIES THE ACTIVE STATE */
ul#nav .current a, ul#nav li:hover > a  {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000000;
  background-color: rgba(300, 152, 92, 1.0);
}

div#rdv {
  text-align:center;
  margin: 100px 0;
}
div#rdv li {
  list-style: none;
}

.page-header {
  height :70px;
  width : 100%;
  background : url(/annik/images/HommageFemme.jpg);
}

.main-content table tr td, .main-content table tr th {
  border:none;
  width:50%;
  text-align:left;
}
