---
---

@import "{{ site.theme }}";

#menu {
  width: 960px;
  height: 40px;
  background-color:rgba(20, 104, 115, 1.0);
  clear: both;
}

ul#nav {
  float: left;
  width: 960px;
  margin: 0;
  padding: 0;
  list-style: none;
  
}

ul#nav li {
  display: inline;
}

ul#nav li a {
  float: left;
  font: bold 1.1em arial,verdana,tahoma,sans-serif;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000000;
  background-color:rgba(20, 104, 115, 1.0);
  margin: 0;
  padding: 0 30px;
}

/* APPLIES THE ACTIVE STATE */
ul#nav .current a, ul#nav li:hover > a  {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000000;
  background-color: rgba(21, 130, 89, 1.0);
}

div#rdv {
  text-align:center;
  margin: 100px 0;
}
div#rdv li {
  list-style: none;
}

.main-content table tr td, .main-content table tr th {
  border:none;
  width:50%;
}
